Dockerfile
.dockerignore
.git
# .*
# 00LIST
# logs
# 20*
# **/20*
# **/*.log

# **/*.yaml
# テストで使ってるし（＾～＾）
# !/test/players.yaml

# **/*.conf

# **/*.sh
# Docker起動後の初期化でスクリプト使うと読みやすいんで（＾～＾）
# !/docker-entrypoint.sh

# **/*.back
# **/*.dat
